* {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
}

.title,
p {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-paragraph {
  text-align: justify;
}

/*mobile phone*/
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .container h1 {
    text-align: center;
  }
}
